.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 60px;

  .menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .menu-links {
    display: none;

    .menu-link {
      text-decoration: none;
      color: #00bf63;
      margin-bottom: 0.5rem;
      font-size: 16px;
      padding: 5px 30px;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #7ed957;

        .menu-icon {
          transform: scale(1.2);
        }
      }
    }

    &.show {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #ffffff;
      width: 100%;
      padding: 10px 20px;
      backdrop-filter: blur(4px) saturate(77%);
      -webkit-backdrop-filter: blur(4px) saturate(77%);
      background-color: rgba(228, 228, 228, 0.185);

      .Home__mobile__icon,
      .Recipe__mobile__icon,
      .Add__recipe__mobile__icon,
      .NewRecipe__mobile__icon {
        height: 25px;
        width: 25px;
        transition: color 0s ease-in-out;
      }

      .Home__mobile__icon:hover {
        color: #7ed957;
      }

      .Recipe__mobile__icon:hover {
        color: #75746e;
      }

      .Add__recipe__mobile__icon:hover {
        color: #7ed957;
      }

      .NewRecipe__mobile__icon:hover {
        color: #7ed957;
      }
    }
  }

  .logo {
    .logo__img {
      height: 85px;
      object-fit: cover;
      align-self: center;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: rotateY("180deg");
      }
    }
  }

  .profile-img {
    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .authButtons {
    display: flex;
    justify-content: space-between;

    .authButton_mobile {
      display: flex;
      align-self: center;
      justify-content: center;
      text-decoration: none;
      color: #00bf63;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        color: #7ed957;
        font-weight: bold;
        text-decoration: underline;
        text-shadow: 0 0 5px #7ed957;
      }
    }
  }
}
