.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 70px;
  background-color: transparent;
  position: relative;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;

  &.scrolled {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }

  .leftNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;

    .logo {
      height: 40px;
      object-fit: cover;
    }
  }

  .middleNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 6;

    .navLists {
      display: flex;
      align-items: center;
      margin-left: 50px;
      list-style: none;

      .navLink {
        margin: 0 10px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #333;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #f26a2e;
          transition: width 0.3s ease-in-out;
        }

        &:hover {
          color: #f26a2e;

          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .rightNavBar {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 30px;
    flex: 2;

    .searchContainer {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 10px;

      &:hover {
        .searchInput {
          width: 180px;
          padding: 8px;
        }
      }

      .searchIcon {
        color: #f26a2e;
        font-size: 20px;
        position: absolute;
        left: 10px;
        z-index: 1;
      }

      .searchInput {
        border: none;
        outline: none;
        width: 0;
        padding: 0;
        margin-left: -5px;
        transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
        font-size: 14px;
        padding: 10px 15px;
        &::placeholder {
          font-size: 14px;
        }
        &:focus {
          width: 180px;
          padding: 8px;
          backdrop-filter: blur(16px) saturate(180%);
          -webkit-backdrop-filter: blur(16px) saturate(180%);
          background-color: rgba(225, 227, 231, 0.75);
          border-radius: 12px;
          border: 1px solid rgba(255, 255, 255, 0.125);
          z-index: 1;
          border: 1px #f26a2e;
        }
      }
    }

    .authButtons {
      display: flex;
      justify-content: space-between;

      .authButton {
        display: flex;
        align-self: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 15px;
        margin-right: 10px;
        text-decoration: none;
        color: #fff;
        background-color: #f26a2e;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #d9534f;
        }
      }
    }

    .profileContainer {
      .profileImgContainer {
        .profileImg {
          height: 40px;
          width: 40px;
          object-fit: cover;
          border-radius: 50%;
          cursor: pointer;
          border: 2px solid #f26a2e;
          transition: border 0.3s ease-in-out;

          &:hover {
            border: 2px solid #d9534f;
          }
        }
      }
    }
  }
}
